<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          Partniors
      </ion-title>
      <ion-buttons slot="end">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    
    <ion-grid style="height: 100%;">
      <ion-row>
        <ion-col text-center>
          <ion-img src="assets/imgs/samtuitsoft.jpg"></ion-img>
          <h3>SamTUIT-Soft LLC was established by the Samarkand branch of Tashkent University of Information Technologies.</h3>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          <ion-img src="assets/imgs/cropped-SSIC.png"></ion-img>
          <h3>The Samarkand Startup Incubator Center was established in cooperation with the Keimyung College of Korea on the basis of the PPP project of KOICA in Samarkand. The purpose of the center is to support young people and future entrepreneurs with innovative ideas.</h3>
          <a href="https://samstartup.uz">https://ssic.uz/</a>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col text-center>
          <ion-img src="assets/imgs/download.jpg"></ion-img>
          <h3>Ionic Studio</h3>
          <a href="https://ionicframework.com/studio?utm_campaign=Studio%20Announcement%20Bar&utm_source=Announcement%20Bar&utm_content=Studio">https://ionicstudio.com/</a>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
