<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Admin
      </ion-title>
      <ion-buttons slot="end">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    
    <ion-grid style="height: 100%;">
      <ion-row>
        <ion-col text-center>
          <ion-img src="assets/imgs/samtuitsoft.jpg"></ion-img>
          <h3>SAMTUIT SOFT</h3>
        
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center>
          <ion-img src="assets/imgs/ssic.png"></ion-img>
          <h3>SSIC</h3>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col text-center>
          <ion-img src="assets/imgs/ionic.png"></ion-img>
          <h3>IOINC</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
