<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>About Festeval</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Festival history</h2>
  <div class="information">
    <p>
      Samarkand which is included into the World Heritage List of UNESCO can doubtlessly be called as the "Pearl of the East". Standing on the crossroad of the Great Silk Road, it took and preserved until present times the culture, art and unique architecture of the ancient world civilizations.
    </p>
    <p>
      Historical monuments of Samarkand impress contemporaries by their beauty and greatness.
    </p>
    <p>
      Historical monuments of Samarkand impress contemporaries by their beauty and greatness.
    </p>
    <p>
      International Music Festival "Sharq Taronalari" ("Melodies of Orient") is one of the biggest festivals in Central Asia. The main aims and objectives of the festival are to popularize widely the best achievements of national music art, to preserve and develop great traditions of people, to encourage talents in musical and vocal sphere, as well as to spread in further international creative ties, to strengthen cultural-spiritual cooperation, to praise peace, friendship and ideas of mutual sympathetic.
    </p>
    <p>
      The first International Music Festival "Sharq Taronalari" ("Melodies of Orient") took place in 1997 at which participated musical groups and performers from 31 different countries. Today it became one of the most popular and famous festivals not only in Central Asia but also abroad. The bright evidence to this is that year after year not only the number and the artistic level of participants are increasing, but also geographical range of participating countries is widened.
    </p>
    <p>
      Thus, at the 7th International Music Festival "Sharq Taronalari" that was held on in 2009, participants from more then 50 countries attended the event.
    </p>
    <p>
      It became a good tradition to undertake international scientific conferences, devoted to particular aspects of music, at which participate scientists and scholars from all over the world.
    </p>
    <p>
      Each Festival, that was held on in Samarkand is unique and exclusive.
    </p>
  </div>
  <h3>Chronology of International Music Festival "Sharq Taronalari"</h3>
  <ul>
    <li>1st IMF "Sharq Taronalari" - 1997</li>
    <li>2nd IMF "Sharq Taronalari" - 1999</li>
    <li>3rd IMF "Sharq Taronalari" - 2001</li>
    <li>4th IMF "Sharq Taronalari" - 2003</li>
    <li>5th IMF "Sharq Taronalari" - 2005</li>
    <li>6th IMF "Sharq Taronalari" - 2007</li>
    <li>7th IMF "Sharq Taronalari" - 2009</li>
    <li>8th IMF "Sharq Taronalari" - 2011</li>
    <li>9th IMF "Sharq Taronalari" - 2013</li>
    <li>10th IMF "Sharq Taronalari" - 2015</li>
  </ul>

</ion-content>
