<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'MENU.about' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>{{ 'ABOUTFESTIVAL.name' | translate }}</h2>
  <ion-card>
    <ion-card-content>
      <p>{{ 'ABOUTFESTIVAL.text1' | translate }}</p>
      <p>{{ 'ABOUTFESTIVAL.text2' | translate }}</p>
      <p>{{ 'ABOUTFESTIVAL.text3' | translate }}</p>
      <p>{{ 'ABOUTFESTIVAL.text4' | translate }}</p>
      <p>{{ 'ABOUTFESTIVAL.text5' | translate }}</p>
      <p>{{ 'ABOUTFESTIVAL.text6' | translate }}</p>
      <p>{{ 'ABOUTFESTIVAL.text7' | translate }}</p>
      <p>{{ 'ABOUTFESTIVAL.text8' | translate }}</p>

      <h3>Chronology of International Music Festival "Sharq Taronalari"</h3>
      <ul>
        <li>1st IMF "Sharq Taronalari" - 1997</li>
        <li>2nd IMF "Sharq Taronalari" - 1999</li>
        <li>3rd IMF "Sharq Taronalari" - 2001</li>
        <li>4th IMF "Sharq Taronalari" - 2003</li>
        <li>5th IMF "Sharq Taronalari" - 2005</li>
        <li>6th IMF "Sharq Taronalari" - 2007</li>
        <li>7th IMF "Sharq Taronalari" - 2009</li>
        <li>8th IMF "Sharq Taronalari" - 2011</li>
        <li>9th IMF "Sharq Taronalari" - 2013</li>
        <li>10th IMF "Sharq Taronalari" - 2015</li>
        <li>11th IMF "Sharq Taronalari" - 2017</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>