.logo {
  height: 30px;
}

ion-title {
  padding-left:  4px;
}

ion-menu-toggle {
  ion-icon {
    margin-right: 19px;
    margin-left: 5px;
    font-size: 20px !important;
  }
  ion-label {
    font-size: 14px !important;
  }
}

