<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>{{ 'MENU.contact' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <ion-card-content>
        <div class="contact">
            <p>100022, Str. Toshbuloq 8-AB, Yakkasaroy dist. Tashkent, Republic of Uzbekistan,
                Ministry of Cultural and Sports Affairs,
                Directorate of the International Music Festival "Sharq Taronalari".
            </p>
            <p>Tel.: (998 71) 2506133, (998 95) 1442545</p>
            <p>Web Sayt: <a href=" www.sharq-taronalari.uz">www.sharq-taronalari.uz</a></p>
            <p>Email: <a href=" info@sharq-taronalari.uz">info@sharq-taronalari.uz</a></p>
        </div>
    </ion-card-content>
</ion-card> 
  <div class="networks">
    <a href="https://www.youtube.com/user/IMFOrientMelodies">  
    <ion-item>
        <ion-icon name="logo-youtube" style="color: red;"></ion-icon>
        <ion-label>
          Visit Youtube Channel
        </ion-label>
      </ion-item></a>
      <a href="https://www.facebook.com/sharqtaronalari/">
      <ion-item>
        <ion-icon name="logo-facebook" style="color: #4267b2;"></ion-icon>
        <ion-label>
          Visit Facebook Channel
        </ion-label>
      </ion-item>
    </a>
  </div>

</ion-content>
