<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Contact</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
      <ion-card-content>
          <div class="contact">
              <p>100022, Str. Toshbuloq 8-AB, Yakkasaroy dist. Tashkent, Republic of Uzbekistan,
                  Ministry of Cultural and Sports Affairs,
                  Directorate of the International Music Festival "Sharq Taronalari".
              </p>
              <p>Tel.: (998 71) 2506133, (998 95) 1442545</p>
              <p>Web Sayt: <a href=" www.sharq-taronalari.uz">www.sharq-taronalari.uz</a></p>
              <p>Email: <a href=" info@sharq-taronalari.uz">info@sharq-taronalari.uz</a></p>
          </div>
      </ion-card-content>
  </ion-card> 
    <div class="networks">
        <ion-item>
          <img src="../../assets/icon/_ionicons_svg_logo-youtube.svg" alt="youtubelogo">
          <ion-label>
            Visit Youtube Channel
          </ion-label>
        </ion-item>
    
        <ion-item>
          <img src="../../assets/icon/_ionicons_svg_logo-facebook.svg" alt="facebookLogo">
          <ion-label>
            Visit Facebook Channel
          </ion-label>
        </ion-item>
    </div>
  
</ion-content>
