<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>{{ 'MENU.place' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fPleace">
    <div class="image">
        <ion-img src="/assets/imgs/infoRegiston2.jpg" alt="registon"></ion-img>
    </div>
   
    <h2>{{ 'Registan.name' | translate }}</h2>
    <ion-card>
        <ion-card-content>
          <p>{{ 'Registan.text1' | translate }}</p>
          <p>{{ 'Registan.text2' | translate }}</p>
          <p>{{ 'Registan.text3' | translate }}</p>
          <p>{{ 'Registan.text4' | translate }}</p>
          <p>{{ 'Registan.text5' | translate }}</p>
          <p>{{ 'Registan.text6' | translate }}</p>
        </ion-card-content>
      </ion-card>
 </div> 
</ion-content>
