ion-content {
    margin-bottom: 25px;
    .fPleace{
        margin: 10px;
        p{
            text-align: justify;
        }
    }
    h2{
        text-align: center;
    }  

    ion-card{
        ion-card-title{
            text-align: center;
        }
        * {
            text-align: initial;
            font-size: 19px;
            color: rgba(0, 0, 0, 0.884);
        }
    
        
    }
}

