<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Festevals pleace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique dolores ratione consectetur, asperiores nam accusantium distinctio? Dolore accusantium odio doloribus dignissimos, nisi officiis quasi asperiores unde, reiciendis labore libero saepe?</p>
</ion-content>
