ion-content {
    margin-bottom: 25px;
    .fPleace{
        margin: 10px;
        p{
            text-align: justify;
        }
        image{
            img{
                margin: 0 auto;
            }
        }
    }
    h2{
        text-align: center;
    }  
}